.dakimakura {
  position: relative;
  width: auto;
  min-width: 280px;
  max-width: 330px;
  min-height: 550px;
  box-shadow: 0px 0px 0px 5px white, 0px 0px 7.5px 5px rgba(0, 0, 0, 0.1);
  padding-bottom: 1rem;

  .bookmark {
    display: none;
    position: absolute;
    right: 0.5rem;
    bottom: 0.5rem;
    width: 3.5rem;
  }
  .selected {
    display: block;
  }
  &__img {
    width: 100%;
    height: 75%;
  }
  &__name {
    display: grid;
    justify-self: center;
    width: auto;
    font-size: 2.2rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    margin: 0 auto;
    color: rgb(0, 137, 181);
  }
  &__price {
    position: relative;
    right: 0.3rem;
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
    color: rgb(115, 180, 181);
  }
  &__currency {
    position: relative;
    right: 0;
    width: 1.6rem;
    height: 1.6rem;
    margin-left: 0.5rem;
    color: rgb(115, 180, 181);
  }
  &__main-info {
    position: relative;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    margin-bottom: 0.6rem;
  }
  &__description {
    text-transform: capitalize;
    width: 90%;
    display: grid;
    grid-template-columns: auto 1fr;
    margin: 0 auto;
    font-size: 1.7rem;

    .attribute {
      font-size: 1.7rem;
      color: rgb(0, 107, 151);
    }

    .value {
      display: grid;
      justify-self: center;
      color: rgb(0, 157, 201);
      font-size: 1.8rem;
    }
  }
}
.dakimakura:hover {
  cursor: pointer;
  box-shadow: 0px 0px 0px 10px white, 0px 0px 15px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.2s linear;
  transform: scale(1.01);
}
.hidden {
  display: none;
}
