html {
  font-size: 10px;
}

.header-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 120px;
  background-color: #FFFFFF;
  -moz-background-color: #FFFFFF;
  padding: 0;
}

.header {
  max-width: 1200px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  margin-top: 60px;
}

.logo {
  position: relative;
  width: 190px;
  height: 60px;
}

.logo__title {
  position: absolute;
  color: #545454;
  width: 100%;
  height: 35px;
  /* logo_title */
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 3.2rem;
  line-height: 110%;
  letter-spacing: 0.06em;
}

.logo__subtitle {
  position: absolute;
  left: 4px;
  top: calc(50% - 15px/2 + 22.5px);
  /* logo_subtitle */
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.5rem;
  letter-spacing: 0.13rem;
  /* identical to box height */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #292929;
}

.logo:hover {
  cursor: pointer;
}

.menu {
  list-style: none;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__item {
  margin-left: 3.5rem;
}

.menu__link {
  color: #545454;
  text-decoration: none;
  /* paragraph-l */
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 160%;
  /* identical to box height, or 24px */
}

.menu__link__active {
  color: #292929;
  text-decoration: none;
  /* paragraph-l */
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 160%;
  /* identical to box height, or 24px */
  padding-bottom: 0.35rem;
  border-bottom: 0.35rem solid #F1CDB3;
}

.menu__link:hover {
  color: #FAFAFA;
}

.pets {
  position: relative;
  height: 877px;
  background-color: #F6F6F6;
}

.pets__content {
  position: relative;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 80px;
  max-width: 1200px;
  height: 697px;
}

.pets__slider {
  position: absolute;
  top: 150px;
  max-width: 1200px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 105px 990px 105px;
      grid-template-columns: 105px 990px 105px;
}

.pets__slider .left-arrow {
  -ms-grid-column-align: start;
      justify-self: start;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.pets__slider .right-arrow {
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.cards__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 270px 270px 270px;
      grid-template-columns: 270px 270px 270px;
  grid-gap: 90px;
}

.cards__container .card {
  position: relative;
  width: 270px;
  height: 435px;
  background-color: #FAFAFA;
}

.cards__container .card__name {
  position: absolute;
  width: 100%;
  height: 23px;
  top: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* pets-card-title */
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  /* identical to box height */
  letter-spacing: 0.06em;
  /* color-dark-l */
  color: #545454;
}

.cards__container .card__button {
  position: absolute;
  width: 187px;
  height: 52px;
  left: 41.5px;
  top: 353px;
}

.card:hover {
  cursor: pointer;
  background-color: #FFFFFF;
}

.card:hover .card__button {
  cursor: pointer;
  background-color: #FDDCC4;
}

.heading {
  /* Heading */
  position: absolute;
  top: 0px;
  /* h3 */
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 130%;
  /* or 45px */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  /* color-dark-l */
  color: #545454;
}
/*# sourceMappingURL=style.css.map */