@import '../../../assets/styles/variables';

html {
  font-size: 10px;
}

h1 {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
body {
  position: relative;
}
.overflow-hidden{
  overflow-y: hidden;
}
.modal-container{
  display: grid;
  align-items: center;
  justify-items: center;

  opacity: 0;
  visibility: hidden;
  transition: all 0.8s ease 0s;

  position: fixed;
  z-index: 7;
  width: 100%;
  height: 100%;
  background-color: rgba(41, 41, 41, 0.6);
}
.modal-container:hover{
  .modal-close-button{
    background-color: $primary;
  }
}
.modal-container.open{
  opacity: 1;
  visibility: visible;
}
.modal{
  position: absolute;
  top: 10%;
  z-index: 7;
  width: 952px;
  height: 552px;

  &__window{
    display: grid;
    grid-template-columns: 500px 1fr;
    grid-column-gap: 32px;
    position: relative;
    width: 900px;
    height: 500px;
    bottom: 0;
    left: 0;
    background-color: $light-s;
    border-radius: 9px;
  }
  &__window:hover ~ .modal-close-button{
    background-color: transparent;
   }
  &__img{
    width: 500px;
    height: 500px;
  }
  &__content{
    position: relative;
    top: 50px;
    width: 351px;
    height: 362px;
    display: grid;
    grid-template-columns: 351px;
    grid-template-rows: 56px 65px 141px 102px;
  }
  &__title{
    /* h3 */
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 3.5rem;
    line-height: 130%;
    /* or 45px */
    letter-spacing: 0.06em;
    color: #000000;
  }
  &__subtitle{
    /* h4 */
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    /* identical to box height, or 23px */
    letter-spacing: 0.06em;
    color: #000000;
  }
  &__text{
    /* h5 */
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    /* or 17px */
    letter-spacing: 0.06em;
    color: #000000;
  }
  &__list{
    display: grid;
    grid-row-gap: 11px;
  }
}
.modal__window:hover ~ button{
  background-color: transparent !important;
}
.list-item{
  display: grid;
  grid-template-columns: 4px 1fr;
  grid-column-gap: 10px;
  align-items: center;
}
.modal-close-button{
  position: relative;
  top: -100%;
  left: 93.7%;
}
.burger-menu{
  position: fixed;
  display: grid;
  right: -100%;
  grid-template-rows: 90px 1fr;
  z-index: 3;
  transform: translateX(100%);
  right: 0;
  top: 0;
  width: 320px;
  height: 100vh;
  background-color: $light-s;

  .logo{
    margin-left: 10px;
    margin-top: 29px;
  }
  .navigation{
    display: grid;
    justify-self: center;
    position: absolute;
    top: 30vh;

    .menu{
      margin: 0;
      display: grid;
      justify-items: center;
      grid-template-rows: 1fr;
      grid-gap: 40px;
      align-self: center;
    }
    .menu > li{
      margin: 0;
    }
    .menu >* a{
      font-size: 3.2rem;
    }
  }
}
.header{
  position: sticky;
  top: 0px;
  z-index: 1;

  height: 120px;
  background-color: $light-xl;
  -moz-background-color: $light-xl;
}
.header__content {
  position: relative;
  overflow: hidden;
  padding-left: 30px;
  padding-right: 30px;
  max-width: 1200px;
  height: 120px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 184px 1fr;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  justify-self: center;
}
.header__content>*:nth-child(2) {
  justify-self: end;
}

.burger-icon{
  display: none;
}
.logo{
  position: relative;
  width: 190px;
  height: 60px;
  //justify-content: flex-start;

  &__title{
    position: absolute;
    color: $dark-l;

    width: 100%;
    height: 35px;

    /* logo_title */
    font-family:'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 3.2rem;
    line-height: 110%;

    letter-spacing: 0.06em;
  }
  
  &__subtitle{
    position: absolute;

    left: 4px;
    top: calc(50% - 15px/2 + 22.5px);
    //margin-left: 0.04rem;

    /* logo_subtitle */
    font-family:'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 1.5rem;

    letter-spacing: 0.13rem;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: $dark-3xl;
  }
}
.logo:hover{
  cursor: pointer;
}

.menu {
  //margin-left: auto;
    list-style: none;
    padding-left: 0;
    display: flex;
    align-items: center;

    &__item {
      margin-left: 3.5rem;
    }
    &__link {
      color: $dark-l;
      text-decoration: none;

      /* paragraph-l */
      font-family: 'Arial';
      font-style: normal;
      font-weight: 400;
      font-size: 1.5rem;
      line-height: 160%;
      /* identical to box height, or 24px */

      &__active {
        color: $dark-3xl;
        text-decoration: none;

        /* paragraph-l */
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 160%;
        /* identical to box height, or 24px */

        padding-bottom: 0.35rem;
        border-bottom: 0.35rem solid $primary;
      }
    }

    &__link:hover{
      color: $dark-3xl;
    }
}
.pets {
  position: relative;
  height: 1342px;
  background-color: $light-l;

  &__title{
    width: 400px;
    height: 90px;
  }

  &__content {
    position: relative;
    margin: 0 auto;
    display: grid;
    //align-content: center;
    grid-template-columns: 1fr;
    grid-row-gap: 60px;
    //justify-content: center;
    justify-content: center;
    justify-items: center;
    top: 80px;
    width: 1200px;
    height: 1162px;
  }
  
  &__slider {
    position: absolute;
    top: 150px;

    max-width: 1200px;

    display: grid;
    grid-template-columns: 105px 990px 105px;

    .left-arrow {
      justify-self: start;
      align-self: center;
    }
    .right-arrow {
      justify-self: end;
      align-self: center;
    }
  }
}
.transition-left{
  animation: move-left 1.1s forwards;
}
.transition-start{
  animation: move-start 0.7s forwards;
}
.transition-end{
  animation: move-end 0.7s forwards;
}
.transition-right{
  animation: move-right 1.1s forwards; 
}
@keyframes move-end {
  from{left: -1300px}
  to{left: -2600px}
}
@keyframes move-start {
  from{left: -1300px}
  to{left: 40px;}
}
@keyframes move-right {
  from{left: -1300px}
  to{left: -2600px}
}
@keyframes move-left {
  from{left: -1300px}
  to{left: 40px;}
}
.cards__wrapper{
width: 1280px;
overflow: hidden;
}
.cards__page{
display: grid;
grid-template-columns: 270px 270px 270px 270px;
grid-column-gap: 40px;
grid-row-gap: 30px;
}
.cards__container {
  position: relative;
  left: -1280px;

  display: grid;
  grid-template-columns: repeat(3, 1280px);
  grid-column-gap: 40px;

  height: 900px;

  .card {
    position: relative;
    width: 270px;
    height: 435px;

    background-color: $light-s;

    &__img {
    }

    &__name {
      position: absolute;
      width: 100%;
      height: 23px;
      top: 300px;

      display: flex;
      justify-content: center;
  
      /* pets-card-title */

      font-family: 'Georgia';
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 23px;

      /* identical to box height */

      letter-spacing: 0.06em;

      /* color-dark-l */

      color: $dark-l;

    }

    &__button {
    position: absolute;
    width: 187px;
    height: 52px;
    left: 41.5px;
    top: 353px;
    }
    
  }
}
.card:hover{
  cursor: pointer;
  background-color: $light-xl;
  box-shadow: 0 2px 35px 14px rgba(0, 0, 0, 0.04);
  transition: all .3s ease;
  .card__button{
    cursor: pointer;
    background-color: $primary-light;
  }
}

.heading {
  /* Heading */
  position: relative;
  top: 0px;

  /* h3 */
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 130%;
  /* or 45px */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  /* color-dark-l */

  color: $dark-l;
}

.button{
  height: 52px;
  width: 207px;

  background-color: transparent;

  border-radius: 100px;
  border: 2px solid $primary-light;
  box-sizing: border-box;


  align-items: center;
  position: relative;

  &__primary {
    position: absolute;
    background-color: $primary;
    border: 2px solid $primary;
  }
  &__primary:hover {
    cursor: pointer;
    background-color: $primary-light;
    border: 2px solid $primary-light;
  }

  &__secondary {

  }
  &__slider {
    position: absolute;
    bottom: 0;

    width: 261px;
    height: 52px;
  }

  &__arrow {
  /* button_arrow */

  /* Auto layout */
  //display: flex;
  //flex-direction: column;
  //align-items: center;
  //padding: 23px;

  //position: absolute;
  width: 52px;
  height: 52px;

  /* color-primary */
  border: 2px solid $primary;
  background-color: transparent;
  box-sizing: border-box;
  border-radius: 100px;
  }
  &__arrow:hover {
    cursor: pointer;
    background-color: $primary-light;
    border: 2px solid $primary-light;
  }

  &__text {
    /* Make a friend */
    position: static;
    left: 21.74%;
    right: 21.74%;
    top: 28.85%;
    bottom: 28.85%;

    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    /* identical to box height, or 22px */

    letter-spacing: 0.06em;

    color: #292929;
  }
}

.pagination {
  position: relative;
  width: 340px;
  height: 52px;

  bottom: 0;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 52px;
  grid-gap: 20px;

  .button__paginator {
    width: 52px;
    height: 52px;

    /* color-primary */
    border: 2px solid $primary;
    background-color: transparent;
    box-sizing: border-box;
    border-radius: 100px;

    .paginator__text {
      /* h4 */
      font-family: 'Georgia';
      font-style: normal;
      font-weight: 400;
      font-size: 2rem;
      line-height: 115%;
      /* identical to box height, or 23px */

      display: flex;
      justify-content: center;
      letter-spacing: 0.06em;

      /* color-dark-3xl */
      color: $dark-3xl;
    }
  }
  .active {
    background-color: $primary;
  }
  .default:hover {
    cursor: pointer;
    background-color: $primary;
  }
  .disabled {
    border-color: $dark-s !important;
    color: $dark-s !important;
  }
  .disabled>:nth-child(1) {
    color: $dark-s !important;
  }
}
.footer {
  position: relative;
  height: 350px;

  margin: 0;

  background: url($start-screen-background-url) center / cover no-repeat;
  -moz-background: url($start-screen-background-url) center / cover no-repeat;

  &__content {
    max-width: 1200px;
    height: 310px;

    position: relative;
    top: 40px;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 280px 302px 300px;
    justify-content: space-between;
  }

  &__contacts {
    position: relative;
    top: 16px;

    height: 234px;

    display: grid;
    align-content: space-between;
    align-items: center;

    .contact {
      display: grid;
      grid-template-columns: 40px 1fr;
      grid-gap: 20px;

      align-items: center;
    }
    .contact:hover {
      cursor: pointer;
    }
  }

  &__locations {
    position: relative;
    top: 16px;

    height: 234px;

    display: grid;
    align-content: space-between;
    align-items: center;

    .location {
      display: grid;
      grid-template-columns: 22px 1fr;
      grid-gap: 20px;

      align-items: center;
    }
  }

  &__puppy {
  }

  &__subText {
    text-decoration: none;
    /* h4 */
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 115%;
    /* identical to box height, or 23px */

    letter-spacing: 0.06em;

    /* color-primary */

    color: $primary;
  }
}

.title {
  /* Title */
  /* h3 */
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 130%;
  /* or 45px */

  letter-spacing: 0.06em;

  /* color-light-xl */

  color: $light-xl;
}

  @media (min-width: 768px) and (max-width: 1279.9px) {
    .modal{
      top: 15vh;
      width: 682px;
      height: 402px;
    
      &__window{
        grid-template-columns: 350px 1fr;
        grid-column-gap: 11px;
        width: 630px;
        height: 350px;
      }
      &__img{
        width: 350px;
        height: 350px;
      }
      &__content{
        top: 10px;
        width: 260px;
        height: 303px;
        grid-template-columns: 1fr;
        grid-template-rows: 56px 43px 118px 102px;
      }
      &__text{
        font-size: 1.3rem;
      }
      &__list{
        grid-row-gap: 11px;
      }
    }
    .list-item{
      grid-column-gap: 6px;
    }
    .modal-close-button{
      left: 91.7%;
    }
    .header{
      //position: fixed;
    }
    @keyframes move-end {
      from{left: -680px}
      to{left: -1360px}
    }
    @keyframes move-start {
      from{left: -680px}
      to{left: 40px;}
    }
    @keyframes move-right {
      from{left: -680px}
      to{left: -1360px}
    }
    @keyframes move-left {
      from{left: -660px}
      to{left: 40px;}
    }
    .cards__wrapper{
    width: 660px;
    overflow: hidden;
    }
    .cards__page{
    display: grid;
    grid-template-columns: 270px 270px;
    grid-column-gap: 40px;
    grid-row-gap: 30px;
    }
    .cards__container {
      left: -660px;

      display: grid;
      justify-self: center;
      grid-template-columns: repeat(3, 660px);
      grid-column-gap: 40px;
    
      height: 900px;
    
      .card {
        position: relative;
        width: 270px;
        height: 435px;
    
        background-color: $light-s;
    
        &__img {
        }
    
        &__name {
          position: absolute;
          width: 100%;
          height: 23px;
          top: 300px;
          display: flex;
          justify-content: center;
          /* pets-card-title */
          font-family: 'Georgia';
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 23px;
          /* identical to box height */
          letter-spacing: 0.06em;
          /* color-dark-l */
          color: $dark-l;
        }
    
        &__button {
        position: absolute;
        width: 187px;
        height: 52px;
        left: 41.5px;
        top: 353px;
        }
        
      }
    }
    .pets{
      height: 1733px;
      &__content{
        top: 80px;
        height: 1603px;
        grid-template-rows: 90px 1365px 52px;
        grid-row-gap: 30px;
        width: 708px;
      }
    }
    .cards__container>*:nth-child(7){
      display: none;
    }
    .cards__container>*:nth-child(8){
      display: none;
    }
    .pagination{
      top: 10px;
    }

    .footer {
      height: 638px;
      padding-left: 64px;
      padding-right: 64px;
      &__content{
        top: 30px;
        width: 642px;
        display: grid;
        grid-template-columns: 279px 300px;
        grid-auto-columns: minmax(50px, auto);
        grid-column-gap: 60px;
        grid-row-gap: 63px;
        
        justify-content: flex-start;
        justify-self: center;
      }
      &__contacts{
        align-content: stretch;
        grid-row-gap: 40px;
        top:0;
      }
      &__locations{
        align-content: stretch;
        grid-row-gap: 31px;
        top: 0;
      }
      &__puppy {
        width: 300px;
      }
      &__content>*:nth-child(1){
        //margin-left: 18px;
      }
      &__content>*:nth-child(2){
       // margin-right: 18px;
      }
      &__content>*:nth-child(3){
        display: grid;
        align-self: center;
        justify-self: center;
        grid-column-start: 1;
        grid-column-end: 3;
      }
    }
  }

  @media (max-width: 767.9px) {
    .modal{
      top: 15vh;
      width: 271px;
      height: 393px;
    
      &__window{
        grid-template-columns: 220px;
        grid-column-gap: 11px;
        justify-content: center;
        width: 240px;
        height: 341px;
      }
      &__img{
        display: none;
        width: 350px;
        height: 350px;
      }
      &__subtitle{
        font-size: 1.7rem;
      }
      &__content{
        top: 10px;
        width: 220px;
        height: 321px;
        grid-template-columns: 1fr;
        grid-template-rows: 56px 40px 127px 102px;
      }
      &__text{
        font-size: 1.3rem;
      }
      &__list{
        grid-row-gap: 6px;
      }
    }
    .list-item{
      grid-column-gap: 6px;
    }
    .modal-close-button{
      left: 91.7%;
    }
    .shading{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 102%;
      z-index: 2;
      background: rgba(41, 41, 41, 0.6);
    }
    .overflow-hidden{
      overflow-y: hidden;
    }
    .burger-menu.active{
      display: grid;
    }
    .burger-menu.slide-in{
      animation: slide-in 0.5s forwards;
    }
    .burger-menu.slide-out{
      animation: slide-out 0.5s forwards;
    }
    
    @keyframes slide-in {
      100% { transform: translateX(0%); }
    }
    @keyframes slide-out {
      0% { transform: translateX(0%); }
      100% { transform: translateX(100%); }
    }
    
    .burger-icon{
      position: fixed;
      top: 50px;
      right: 55px;
      z-index: 4;
      animation: show 1.7s;
      cursor: pointer;
    }
    .burger-icon.unactive{
      transform: rotate(0deg);
      transition: all 0.7s ease;
    }
    .burger-icon.active{
      position: absolute;
      right: 55px;
      //animation: show 1.7s;
      transform: rotate(90deg);
      transition: all 0.7s ease;
    }
    .burger-icon.unactive:active{
      animation: hidden 1.7s;
    }
    .burger-icon.active:active{
      animation: hidden 1.7s;
    }
    
    .logo.hidden{
      animation: hidden 0.7s forwards;
    }
    .logo.show{
      animation: show 0.7s forwards;
    }
    @keyframes hidden {
      0% {opacity: 1;}
      100% {opacity: 0;}
    }
    @keyframes show{
      0% {opacity: 0;}
      100% {opacity: 1;}
    }
    .br{
      display: none;
    }
    .header__content{
      padding-left: 10px;
      padding-right: 10px;
      grid-template-columns: 1fr 0px 1fr;
    }
    @keyframes move-end {
      from{left: -310px}
      to{left: -620px}
    }
    @keyframes move-start {
      from{left: -310px}
      to{left: 0px;}
    }
    @keyframes move-right {
      from{left: -310px}
      to{left: -620px}
    }
    @keyframes move-left {
      from{left: -310px}
      to{left: 0px;}
    }
    .cards__wrapper{
    width: 270px;
    overflow: hidden;
    }
    .cards__page{
    grid-template-columns: 270px;
    }
    .cards__container{
      left: -310px;
      grid-template-columns: repeat(3, 270px);
    }
    /* .cards__container>*:nth-child(n){
      display: none;
    }
    .cards__container>*:nth-child(-n+3){
      display: block;
    } */
    .menu{
      display: none;
    }
    .burger-icon{
      display: inline;
    }
    .pets{
      height: 1649px;
      &__content{
        top: 42px;
        width: 300px;
        height: 1565px;
        grid-template-rows: 64px 1fr 52px;
        grid-row-gap: 42px;
      }
      &__title{
        width: 300px;
        height: 64px;
        text-align: center;
        display: grid;
        justify-self: center;
      }
    }
    .pagination{
      position: relative;
      bottom: 0;
      width: 300px;
      grid-gap: 10px;
    }
    .heading{
      font-size: 2.5rem;
    }
    .footer{
      height: 809px;
      padding: 0;
      &__content{
        width:300px;
        height: 779px;
        top: 30px;
        grid-template-columns: 300px;
        grid-template-rows: 1fr 1fr 1fr;
        grid-gap: 40px;
        justify-items: center;
      }
      &__contacts{
        top: 0;
        width: 278px;
        height: 208px;
        justify-items: center;
      }
      &__locations{
        top: 0;
        width: 300px;
        height: 222px;
        //justify-items: center;
      }
      &__locations>*:nth-child(1){
        justify-self: center;
      }
      &__content>*:nth-child(3){
        grid-column-start: auto;
        grid-column-end: auto;
      }
      &__puppy{
        display: grid;
        align-self: end;
        width: 260px;
        height: 269px;
      }
    }
    .title{
      width: 270px;
      text-align: center;
      font-size: 2.5rem;
    }
  }