@import '../../../utils/variables.scss';

.garage {
  input {
    border:none;
    background:none;
    outline:none;
    padding:0;
  }

  &__menu {
    display: grid;
    row-gap: .5rem;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 31rem;
    margin-top: 1rem;
    margin-bottom: 1rem;

    .form {
      display: grid;
      column-gap: 0.8rem;
      grid-template-columns: 1fr 1fr 1fr;
      align-items: center;
      justify-items: center;
    }

    input[type=text] {
      width: 20rem;
      height: 3rem;
      padding: .5rem;
      border-radius: .7rem;
      color: $text-primary;
      background-color: rgba($dark-grey, 0.5);
      font-size: 1.7rem;
      font-weight: 200;
    }
    input[type=color] {
      height: 3.5rem;
      background-color: $dark-primary;
    }
  }

}
.garage-container {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 3rem;
  margin-left: 3rem;
  width: 93vw;

  button {
    cursor: pointer;
    color: $text-primary;
    position: relative;
    background-color: $dark-grey;
    border: .05rem rgba($border-primary, 0.1) solid;
    border-radius: 0.7rem;
    padding: .5rem .75rem;
    text-align: left;
    font-size: 1.5rem;
    font-weight: 200;
    letter-spacing: .2rem;
  }
  button:hover {
    background-color: rgba($dark-grey, 0.5);
  }
  button:active {
    transition: transform 0.1s ease;
    transform: translate(0.05rem, 0.05rem);
  }
  button:disabled {
    cursor: auto;
    background-color: rgba($dark-grey, 0.5);
    transform: scale(1);
  }
}
.pagination {
  display: grid;
  grid-template-columns: repeat(auto-fill, 4rem);
  grid-gap: .5rem;
  button {
    text-align: center;
    padding: .3rem;
    width: 4rem;
    height: 4rem;
  }
}
.car-block {
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  border-bottom: .5rem white dashed;
  border-radius: .5rem;

  &__head {
    margin-bottom: .5rem;
  }
  &__body {
    display: grid;
    grid-template-columns: 5rem 1fr;
  }
}
.selected {
  background-color: rgba(255, 255, 255, 0.08);
}
.race {
  display: grid;
  grid-template-columns: 6rem 1fr;
  align-items: baseline;
  justify-items: center;
}
.car {
  &__name {
    font-size: $car-name-font-size;
  }
  &__img {
    position: relative;
    bottom: -1.3rem;
    width: 6rem;
    height: 6rem;
  }
}
.flag {
  display: grid;
  justify-self: end;
  height: 5rem;
  fill: rgba(240, 0, 0, 0.7);
}
.engine-buttons {
  width: 7rem;

  button {
    padding: 0;
    text-align: center;
    width: 3rem;
    height: 3rem;
  }
}
.winner-message {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid $border-primary;
  border-radius: 0.5rem;
  padding: 0.8rem;
  background-color: $dark-primary;
  &__text {
    font-size: 3rem;
  }
}
