.header {
  & > .container {
    display: grid;
    grid-template-columns: 60px 1fr 60px;

    .logo {
      display: block;
      width: 60px;
      height: 60px;
    }
    .cart {
      display: block;
      width: 60px;
      height: 60px;
    }
  }
}
  