.header {
  display: grid;
  height: 80px;
  width: 90vw;
  max-width: 1170px;
  margin: 0 auto;
  align-items: center;

  & > .container {
    display: grid;
    grid-template-columns: auto 1fr auto;
    column-gap: 20px;
    align-items: center;

    .logo {
      /* background-image: url('../assets/icons/girl.png'); */
      display: block;
      width: 60px;
      height: 60px;
    }
    .cart {
      position: relative;
      display: block;
      width: 4.5rem;
      height: 4.5rem;
    }
    .counter {
      position: absolute;
      align-items: center;
      justify-items: center;
      z-index: 1;
      top: 0;
      left: 0;
      width: 2.4rem;
      height: 2.4rem;
    }
    .counter-number {
      display: grid;
      width: 100%;
      height: 100%;
      position: absolute;
      justify-items: center;
      z-index: 2;
      color: white;
      font-size: 1.7rem;
    }
    .counter-background {
      width: 100%;
    }
    h1 {
      color: rgb(24,126,252);
      font-size: 3rem;
      font-family: "Great Vibes", cursive;
      font-weight: normal;
      text-shadow: 0 1px 1px #fff; 
    }
  }
}
  