$text-primary: #fff;
$font-heading: Inter, BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-sans;
$h1-font-size: 3rem;
$h2-font-size: 2.7rem;
$h1-font: 200 $h1-font-size $font-heading;
$h2-font: 200 $h2-font-size $font-heading;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  color: $text-primary;
}

.page {
  //overflow: hidden;
  width: 100vw;
  min-height: 100vh;
  background-color: rgb(4,4,4);
}

h1, h2 {
  line-height: 120%;
  letter-spacing: -.5px;
}

h1 {
  font: $h1-font;
}

h2 {
  font: $h2-font;
}

.white {
  fill: #fff;
}

.alert-message {
  color: green;
}