$primary: #F1CDB3;
$light-xl: #FFFFFF;
$light-s: #FAFAFA;
$black: #000000;
$dark-s: #CDCDCD;
$dark-3xl: #292929;

$content-width: 1200px;

$start-screen-background-url: '../../../assets/images/start-screen-gradient-background.png'